<div class="container">
    <div class="row">
        <footer class="footer">
            <small>

                Copyright © <a href="enter in a link here">Alpha Blog Web App</a>

                by <a href="enter in a link here">Giorgi Tamarashvili</a>

            </small>
        </footer>
    </div>
</div>