@model IEnumerable<Post>

@{ 

}

<div>
    <ul>
        @foreach(var post in Model)
        {
            <li>
                @post.Title -
                <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
                    Show
                </a>
            </li>
        }
    </ul>
</div>