
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

 provide sufficient contrast against white background 
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

 sticky footer styles

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

 sticky footer styles

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    overflow-x: hidden;
}


.footer {
    margin-left: -90px;
    width: 120%;
    white-space: nowrap;
    line-height: 60px;
    position: relative;
    bottom: 0;
}



.btn-xlarge {
    font-size: 1.7em;
    background-color: black;
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
    position: relative;
    bottom: 0;
}

    footer a:hover {
        color: #222;
    }

    footer small {
        float: left;
    }

    footer ul {
        float: right;
        list-style: none;
    }

        footer ul li {
            float: left;
            margin-left: 15px;
        }

/*

*/
body {
    background-color: #fff;
    color: #333;
    margin: 33px;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    height: 100%;
}

p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
}

a {
    color: #000;
    &:visited

{
    color: #666;
}

&:hover {
    color: #fff;
    background-color: #000;
}

}

th {
    padding-bottom: 5px;
}

td {
    padding: 0 5px 7px;
}

div {
    &.field, &.actions

{
    margin-bottom: 10px;
}

}

#notice {
    color: green;
}

.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
}

#error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px 7px 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;

{
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
}

ul li {
    font-size: 12px;
    list-style: square;
}

}

label {
    display: block;
}

.navbar-brand {
    float: left;
    height: 40px;
    font-size: 18px;
    line-height: 20px;
}

.navbar {
    border-radius: 2px;
}


/**/


.article-title {
    font-weight: bold;
    font-size: 1.2em;
}

.article-body {
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
}

.article-meta-details {
    border-top: 1px solid #eaeaea;
    margin-top: 15px;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}
/**/

#container {
    width: 640px; 
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

#zond {
    margin-top: 50px;
}

html, body {
    margin: 0;
    height: 100%;
}
